@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/typography/text";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@mixin fontSemiBold($fontSize) {
    font-size: $fontSize;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.zbx-switch {
    position: relative;
    border: 1px solid #aaa;
    @include border-radius(4px);
    float: left;
    width: 70px;
    height: 25px;
    line-height: 1;
    @include background(linear-gradient(#fff, #f0f0f0));
    @include box-shadow(rgba(#000, .05) 0 0 0 2px inset);
    cursor: default;

    &.button {
        .left-section {
            float: left;
            height: 0;
            width: 0;
            display: none;
        }

        .right-section {
            float: left;
            height: 0;
            width: 0;
            display: none;
        }

        .switch {
            float: left;    @include transition(all 0.5s ease);
            border-style: solid;
            border-width: 1px;
            background: green;
            @include border-radius(4px);
            position: absolute;
            height: 23px;
            width: 35px;
            line-height: 20px;
            @include fontSemiBold(14px);
            cursor: pointer;
            color: white;
            @include box-shadow(darken(#aaa, 10%) 0 0 1px 1px);
            text-align: center;
        }

        &.-off {
            .switch {
                //left: 0;
                margin-left: 0px;
                border-color: darken(red, 10%);
                background: red;
            }
        }

        &.-on {
            .switch {
                //right: 0;
                margin-left: 33px;
                border-color: darken(green, 10%);
                background: green;
            }
        }
    }

    &.slider {
        .left-section {
            float: left;
            height: 23px;
            width: 45px;
            line-height: 21px;
            color: white;
            text-align: center;
            @include fontSemiBold(14px);
        }

        .right-section {
            float: left;
            height: 23px;
            width: 68px;
            line-height: 21px;
            color: white;
            text-align: center;
            padding-left: 21px;
            @include fontSemiBold(14px);
        }

        .switch {
            float: left;
            @include transition(all 0.5s ease);
            border-style: solid;
            border-width: 4px;
            @include background(#aaa linear-gradient(rgba(#fff, .1), rgba(#fff, 0)));
            @include border-radius(10px);
            position: absolute;
            height: 17px;
            width: 17px;
            @include fontSemiBold(14px);
            cursor: pointer;
            @include box-shadow(lighten(#aaa, 20%) 0 0 3px 3px);
            margin-top: 3px;

            span {
                display: none;
            }
        }

        &.-off {
            @include background(linear-gradient(red, darkred));

            .left-section {
                display: none;
            }

            .switch {
                //left: 0;
                margin-left: 3px;
            }
        }

        &.-on {
            @include background(linear-gradient(green, darkgreen));

            .right-section {
                display: none;
            }

            .switch {
                //right: 0;
                margin-left: 48px;
            }
        }
    }
}
